*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.header{
    min-height: 120vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/14.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 150px;
    z-index: 2;
    position: relative;

}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}
.sticky { 
    position: fixed; 
    top: 0; 
    width: 100%; 
} 

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 30px;
    font-style: italic;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}
.text-box span{
    color: yellow;
    font-weight: bold;
    font-size: 20px;
    font-style: initial;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}



/* --------course---- */
.course{
    width: 80%;
    margin: auto;
    padding-top: 100px;
}


.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


/* Cards  */

.course .card-item {
    width: 300px;
    margin: 1rem;
    position: relative;
    border-radius: 8px;
    background: white;
    padding-bottom: 2rem;
    transition: all 0.3s ease;
    box-shadow: 0 20px 40px rgba(87, 84, 84, 0.328);
    align-items: center;
}

 .course .card-item:hover {
    transform: scale(1.1);
    box-shadow: 0 20px 40px rgba(16, 14, 14, 0.5);
}

.card-item .image {
    width: 290px;
    height: 320px;
    border-radius: 8px;
    position: relative;
    transition: all 0.5s;
    background-size: cover;
    background-position: center ;
    padding-left: 200px !important;
    
}


.card-item .image1 {
    background-image: url('images/crop2.PNG');
}

.card-item .image2 {
    background-image: url('images/color\ picker.PNG');
}

.card-item .image3 {
    background-image: url('images/16.jpg');
}

.card-item .content {
    padding: 1rem;
    text-align: left;
    
}

.card-item .title {
    margin: 2rem 0;
    color: #e65b00;
    font-size: 1.4rem;
}

.card-item p {
    font-size: 14px;
    margin-bottom: 2rem;
    font-family: sans-serif;
    color: rgb(124, 133, 141);
}

.card-item .button {
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
    background-color: #e65b00;
    border-radius: 5px;
}
.card-item .button:hover{
    background-color: blue;
    color: white;
    transition: 1s ease;
}






/* --------------------Call to action------------- */
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/14.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}


/* ------------------------Footer-------------- */
#footer {
    width: 100%;
    padding-top: 2rem;
    background-color: #222;
}

.upper-footer {
    display: flex;
    justify-content: space-around;
}

.up-left {
    width: 700px;
    display: flex;
}

.image {
    width: 200px;
    position: relative;
}

.up-left img {
    position: absolute;
    width: 100%;
}

.content {
    width: 400px;
    margin-left: 3rem;
}

.description {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.footer-heading {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: .6rem;
    text-transform: uppercase;
}

.up-right ul {
    display: flex;
    list-style: none;
}

.up-right ul li {
    height: 40px;
    width: 40px;
    padding: 6px;
    font-size: 1.4rem;
    border-radius: 5px;
    margin: 0 0.8rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up-right ul li a {
    color: white;
}

.linkedIn {
    background-color: #0077b5;
}

.instagram {
    background: linear-gradient(15deg, #ffb13d, #dd277b, #4d5ed4);
}

.youtube {
    background-color: #f50000;
}

.github {
    background-color: #24292E;
}

.down-footer {
    width: 100%;
    color: #fff;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.down-footer .leftPara{
    color: #fff;
    font-weight: 500;
}

.footer-li {
    display: flex;
    list-style: none;
}

.footer-li li {
    padding: 0 1rem;
}

.footer-li li a {
    color: #fff;
    text-decoration: none;
}







/* ----------------------Contact ----------------------- */
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa-solid{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p{
    padding: 0;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input , .contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid green;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    background-color: green;
}
.contact-btn:hover{
    border: 1px solid black;
    background: blue;
    transition: 1s;
}



/* Color Picker  */
.wrapper {
    background-color: #ffffff;
    width: 90%;
    max-width: 31.25em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 7rem;
    padding: 1.5em;
    border-radius: 0.8em;
  }
  img {
    display: block;
    width: 80%;
    margin: auto;
  }
  .btns-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em 0 1.5em 0;
  }
  input,
  label,
  button {
    border: none;
    outline: none;
  }
  input[type="file"] {
    display: none;
  }
  label,
  button {
    display: block;
    font-size: 1.1em;
    background-color: #025bee;
    color: #ffffff;
    text-align: center;
    padding: 0.8em 0;
    border-radius: 0.3em;
    cursor: pointer;
  }
  #result {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  #result div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #result input {
    background-color: transparent;
    font-size: 1em;
    padding: 0.5em;
    width: 100%;
    color: #313b4c;
    border-bottom: 0.1em solid #021637;
  }
  #result button {
    position: absolute;
    right: 0.6em;
    background-color: transparent;
    color: #7c8696;
  }
  #picked-color-ref {
    grid-column: 2;
    grid-row: 1 / 3;
    border: 0.6em solid #d9e8ff;
    border-radius: 0.5em;
  }
  #custom-alert {
    transform: scale(0);
    transition: 0.5s;
    transform-origin: center;
    background-color: #d9e8ff;
    color: #025bee;
    text-align: center;
    padding: 0.5em;
    margin-top: 1.5em;
  }
  .hide {
    display: none;
  }
  #error {
    color: #ff725a;
    text-align: center;
  }
  


/* -----------------------Media Queries--------------- */


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        z-index: 2;
    }
    .nav-links ul{
        padding: 30px;
    }
    .row{
        flex-direction: column;
    }
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
    .cta h1{
        font-size: 24px;
    }
    .sub-header h1{
        font-size: 24px;
    }
    
}

@media screen and (max-width: 821px) {
    .up-left {
        width: 100%;
    }

    .upper-footer,
    .down-footer,
    .up-left {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .image {
        margin: 4rem 0;
    }

    .content {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .footer-heading {
        margin: 1rem 0;
        text-align: center;
    }

    .down-footer {
        flex-direction: column-reverse;
    }

    .down-footer .leftPara {
        margin-top: 1rem;
    }

    .footer-li {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        line-height: 25px;
        margin: 1rem auto;
    }
}